body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
 
  body {
    font-family: 'Courier New', monospace;
    background-color: #111;
    color: #ddd;
    line-height: 1.6;
  }
 
  header {
    background-color: #222;
    padding: 10px;
    text-align: center;
  }
 
  header img {
    max-width: 100%;
    height: auto;
  }
 
  nav {
    background-color: #333;
  }
 
  nav a {
    color: #ddd;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
  }
 
  nav a:hover {
    background-color: #555;
  }
 
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
 
  .section {
    border: 1px solid #444;
    margin-bottom: 20px;
    padding: 20px;
  }
 
  .collapsible {
    cursor: pointer;
  }
 
  .collapsible-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #444;
  }
 
  .collapsible:hover {
    background-color: #333;
  }
 
  .collapsible.active {
    background-color: #222;
  }
 
  .collapsible.active + .collapsible-content {
    display: block;
  }
 
  footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ddd;
  }